{% extends "base.html" %}
{% block content %}
<title>Trocas</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .troca-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;
    }
    .troca-image {
        height: 150px;
        background-size: cover;
        background-position: center;
        margin-bottom: 10px;
    }
</style>

<div class="container mt-4">
    <h2>Meus Imóveis Curtidos</h2>
    <div class="row">
        {% for interacao in trocas %}
        <div class="col-md-4">
            <div class="troca-card">
                <div 
                    class="troca-image" 
                    style="background-image: url({{ interacao.imovel.imagens_set.first.imagem.url }});">
                </div>
                <h5>{{ interacao.imovel.cidade }} - {{ interacao.imovel.estado }}</h5>
                <p>{{ interacao.imovel.tipo_imovel }}</p>
                <p>Valor: R$ {{ interacao.imovel.caracteristicas.valor|floatformat:2 }}</p>
                <a href="{% url 'iniciar_chat' interacao.imovel.id %}" class="btn btn-primary mt-2">Conversar com responsável</a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
